/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-fluid {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.padding-1rem {
  padding: 1rem;
}

.bg-red {
  background-color: red;
}

/*img[src="Screenshot_20230112_202029.png"] {
  height: 200px;
  width: auto;
}*/




/*i add a backgruond imagin*/
.bg-image {
  background-image: url("../img/Screenshot_20230112_202029.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* altezza della pagina */
  width: 100vw;
}

.bg-text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3em; /* dimensione del testo */
}


h1 {
  text-align: center;
}