/* GLOBAL RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.img-fluid {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.padding-1rem {
  padding: 1rem;
}

.bg-red {
  background-color: red;
}

.-space {
  display: flex;
  background-color: antiquewhite;
  border: 2px solid black;
  width: 965px;
  height: 575px;
  margin: 50px auto;
  justify-content: center;

}

.text-center {
  text-align: center;
}

.text-table {
  font-size: 3em;
  color: rgb(250, 247, 247);
}

/*img[src="Screenshot_20230112_202029.png"] {
  height: 200px;
  width: auto;
}*/


.margin-sp {
  margin: 70px auto;
}

/*i add a backgruond imagin*/
.bg-image {
  background-image: url("../img/7d1c6a80-4c1a-4e6e-92d0-e11caa25cfd0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  /* altezza della pagina */
  width: 100vw;
}


.top-text {
  color: rgb(0, 0, 0);
  font-size: 4em;
  /* dimensione del testo */
}


.text-o-t {
  color: rgb(250, 247, 247);
  font-size: 4em;
  /* dimensione del testo */
}

.text {
  color: rgb(250, 247, 247);
  font-size: 2em;

}

.text-time-color {
  color: rgb(250, 247, 247);
}

#time {
  font-size: 2em;
}

.center {
  justify-content: center;
  align-items: center;
}


.title-opening-times {
  color: rgb(0, 3, 5);
  width: 780px;
  height: 150px;
  font-size: 100px
}

.monday-fridey {
  background-color: black;
  color: aliceblue;
  justify-content: flex-start;
  font-size: 20px;
  width: auto;
  height: 200px;
  margin: 300px auto
}

.saturday-sunday {
  color: aliceblue;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 20px;
  width: auto;
  height: 200px;
}