/*prewiew*/
.-space {
  display: flex;
  background-color: antiquewhite;
  border: 2px solid black;
  width: 750px;
  height: 350px;
  margin: 110px auto;
  justify-content: center;

}

.text-center {
  text-align: center;
}

/*end prewiew*/

/*opening times*/
.conteiner_OP {
  background-color: black;
  margin: 70px auto;
}

.title-op {
  font-size: 50px;
  color: white;
  text-align: center;
}

.text_op {
  color: white;
  font-size: 20px;
  width: 50%;
}

.sub-container {
  margin: 104px 50px;

}


.text_op_2 {
  color: white;
  font-size: 30px;
}

.margin-week{
  margin: auto 50px;
}


/*end opening times*/
/*menu*/
.background_of_menu{
  background-image: ;
}

.menu{
  background-color: blueviolet;
 
}

.title-menu{
  font-size: 60px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.title-menu-sections {
  text-align: center;
  font-size: 50px;
}

/*caffeteria*/
.caffetteria {
  margin: 1rem;
}

/*bibite_e_aperitivi*/
.bibite_e_aperitivi{
  
  margin: 1rem;
}


/*cocktail_distillati_e_amari*/
.cocktail_distillati_e_amari{
  
  margin: 1rem;
}

/*gastronomia*/
.gastronomia {

  margin: 1rem;
}

/*apericena*/
.apericena{
  
  margin: 1rem;
}